
 <p> 
   
 | Date of test plan | Endpoint | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 21 Mar'23 | /signin | Akshay | Pass | |
| 21 Mar'23 | /signup | Akshay | Pass | |
| 21 Mar'23 | / | Akshay | Pass | |
| 21 Mar'23 | /dashboard | Akshay | Pass | |
| 21 Mar'23 | /signout | Akshay | Pass | |

   
   
 </p>

 
