Team 404:  Sprint 3 Test Results

Ahsan Hasnath, Cristofer Carcamo, Joshua Steinerman, Zal Patel, Akshay
Patel

CS-684: Quality Assurance

Overall Test Results:

Summary: 

  Sprint 3 Functional testing of Project 404 was conducted during the
dates of 4/07/2023 through 4/09/2023 where various test activities were
developed and executed. Once the application was completed, testing was
executed by multiple testers to cover all newly implemented features
through unit testing, API Testing, Integration testing, and Functional
testing. Failed test cases were rerun after defect fixes to verify
changes through additional iterations of testing.

Functional Testing: 

The tables below summarize the results of Functional Testing.

Iteration 1: 

  --------------------------------------------------------------------------
  Test Case ID:    Date Tested:  Tester Name:      Pass/Fail:   Comments:
  ---------------- ------------- ----------------- ------------ ------------
  Test Case ID: 21 4/08/2023     Ahsan Hasnath     Pass         

  Test Case ID: 22 4/08/2023     Ahsan Hasnath     Pass         

  Test Case ID: 23 4/08/2023     Ahsan Hasnath     Pass         

  Test Case ID: 24 4/08/2023     Ahsan Hasnath     Pass         

  Test Case ID: 25 4/08/2023     Ahsan Hasnath     Pass     
  
  --------------------------------------------------------------------------

Iteration 2: 

  ---------------------------------------------------------------------------
  Test Case ID:     Date Tested:   Tester Name:    Pass/Fail:   Comments:
  ----------------- -------------- --------------- ------------ -------------
  Test Case ID: 21    4/09/2023      Zal Patel      Pass                             

  Test Case ID: 22    4/09/2023      Zal Patel      Pass                               

  Test Case ID: 23    4/09/2023      Zal Patel      Pass                              

  Test Case ID: 24    4/09/2023      Zal Patel      Pass                               

  Test Case ID: 25    4/09/2023      Zal Patel      Pass
  
  ---------------------------------------------------------------------------
  
  Iteration 3: 

  ---------------------------------------------------------------------------
  Test Case ID:     Date Tested:   Tester Name:    Pass/Fail:   Comments:
  ----------------- -------------- --------------- ------------ -------------
  Test Case ID: 21    4/09/2023      Akshay Patel      Pass                             

  Test Case ID: 22    4/09/2023      Akshay Patel      Pass                               

  Test Case ID: 23    4/09/2023      Akshay Patel      Pass                              

  Test Case ID: 24    4/09/2023      Akshay Patel      Pass                               

  Test Case ID: 25    4/09/2023      Akshay Patel      Pass
  
  ---------------------------------------------------------------------------
  
   Iteration 5: 

  ---------------------------------------------------------------------------
  Test Case ID:     Date Tested:   Tester Name:    Pass/Fail:   Comments:
  ----------------- -------------- --------------- ------------ -------------
  Test Case ID: 21    4/05/2023      Joshua Steinerman Pass                             

  Test Case ID: 22    4/05/2023      Joshua Steinerman Pass                               

  Test Case ID: 23    4/05/2023      Joshua Steinerman Pass                            

  Test Case ID: 24    4/05/2023      Joshua Steinerman Pass                             

  Test Case ID: 25    4/05/2023      Joshua Steinerman Pass
  
  Test Case ID: 26    4/05/2023      Joshua Steinerman Pass                         

  Test Case ID: 27    4/05/2023      Joshua Steinerman Pass
  
  ---------------------------------------------------------------------------
