
| Test Name               | Date       | Tester | Result | Photo               |
|-------------------------|------------|----------|---------|----------------------|
| Dashboard.test.js |            |           |           |Dashboard.test.js |
| Setting.test.js        |            |           |           |Setting.test.js      |
| Changecat.test.js  |            |           |           |Changecat.test.js |
| Signout.test.js        |            |           |           |Signout.test.js        |
| Updatesetting.test.js |            |           |           |Updatesetting.test.js |
| General.test.js       |            |           |           |General.test.js       |
| App.test.js              |            |           |           |App.test.js               |
| Home_refreshbtn.test.js |            |           |           |Home_refreshbtn.test.js |
| Signup.test.js           |            |           |           |Signup.test.js           |
| Signin.test.js             |            |           |           |Signin.test.js             |
| Removeold.setting.test.js |            |           |           |Removeold.setting.test.js |
| Dash_refreshbtn.test.js  |            |           |           |Dash_refreshbtn.test.js  |
| Total test pass/fail   | 2023-04-14 | Cris | 11 pass 1 fail |                       |
