 <p> 
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| 26 Mar'23 | 1 | Akshay | Pass | |
| 26 Mar'23 | 2 | Akshay | Pass | |
| 26 Mar'23 | 3 | Akshay | Pass | |
| 26 Mar'23 | 4 | Akshay | Pass | |
| 26 Mar'23 | 5 | Akshay | Pass | |
| 26 Mar'23 | 6 | Akshay | Pass | |
| 26 Mar'23 | 7 | Akshay | Pass | |
| 26 Mar'23 | 8 | Akshay | Pass | |
| 26 Mar'23 | 9 | Akshay | Pass | |
| 26 Mar'23 | 10 | Akshay | Pass | |


   
 </p>

 
