Team 404:  Sprint 4 Test Results

Ahsan Hasnath, Cristofer Carcamo, Joshua Steinerman, Zal Patel, Akshay
Patel

CS-684: Quality Assurance

Overall Test Results:

Summary: 

    Sprint 4 Regression Testing of Project 404 was conducted during the
dates of 4/21/2023 through 4/23/2023 where various test activities were
developed and executed. Once the application was completed, testing was
executed by multiple testers to cover all newly implemented features
through unit testing, API Testing, Integration testing, and Functional
testing. Failed test cases were rerun after defect fixes to verify
changes through additional iterations of testing.

Regression Testing: 

The tables below summarize the results of Regression testing and all
functional tests.

Note: Test cases 34-40 consisted of System testing.

Iteration 1: 

  ----------------------------------------------------------------------------
  Test Case ID:  Date Tested: Tester Name:    Pass/Fail:   Comments:
  -------------- ------------ --------------- ------------ -------------------
  Test Case ID:  423/2023     Ahsan Hasnath   Pass         
  1                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  2                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  3                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  4                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  5                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  6                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  7                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  8                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  9                                                        

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  10                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  11                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  12                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  13                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  14                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  15                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  16                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  17                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  18                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  19                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  20                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  21                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  22                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  23                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  24                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  25                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  26                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  27                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  28                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  29                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  30                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  31                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Fail         Inaccurate test
  32                                                       case.

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  33                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  34                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  35                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  36                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  37                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  38                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  39                                                       

  Test Case ID:  4/23/2023    Ahsan Hasnath   Pass         
  40                                                       
  ----------------------------------------------------------------------------
