
| Test Name                 | Date       | Tester        | Result       |                    
|---------------------------|------------|---------------|--------------|
| Dashboard.test.js         | 2023-04-14 |      Cris     |  Pass        |
| Setting.test.js           | 2023-04-14 |      Cris     |  Pass        |
| Changecat.test.js         | 2023-04-14 |      Cris     |  Pass        |
| Signout.test.js           | 2023-04-14 |      Cris     |  Pass        |
| Updatesetting.test.js     | 2023-04-14 |      Cris     |  Pass        |
| General.test.js           | 2023-04-14 |      Cris     |  Fail        |
| App.test.js               | 2023-04-14 |      Cris     |  Pass        |
| Home_refreshbtn.test.js   | 2023-04-14 |      Cris     |  Pass        |
| Signup.test.js            | 2023-04-14 |      Cris     |  Pass        |
| Signin.test.js            | 2023-04-14 |      Cris     |  Pass        |
| Removeold.setting.test.js | 2023-04-14 |      Cris     |  Pass        |
| Dash_refreshbtn.test.js   | 2023-04-14 |      Cris     |  Pass        |
| Total test pass/fail      | 2023-04-14 |      Cris     | 11pass/1 fail|           
