
# Testreport

<details><summary>
  Ahsan
  </summary>
 <p> 

| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 |  1 | Ahsan | Fail | |
| xx feb'23 |  2 | Ahsan | Fail | |
| xx feb'23 |  3 | Ahsan | Fail | |
| xx feb'23 |  4 | Ahsan | Fail | |
| xx feb'23 |  5 | Ahsan | Fail | |
| xx feb'23 |  6 | Ahsan | Fail | |
| xx feb'23 |  7 | Ahsan | Fail | |
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 | Ahsan | Fail | |
| xx feb'23 | 2 | Ahsan | Fail | |
| xx feb'23 | 3 | Ahsan | Fail | |
| xx feb'23 | 4 | Ahsan | Fail | |
| xx feb'23 | 5 | Ahsan | Fail | |
| xx feb'23 | 6 | Ahsan | Fail | |
| xx feb'23 | 7 | Ahsan | Fail | |
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 | Ahsan | Pass | |
| xx feb'23 | 2 | Ahsan | Pass | |
| xx feb'23 | 3 | Ahsan | Pass | |
| xx feb'23 | 4 | Ahsan | Pass | |
| xx feb'23 | 5 | Ahsan | Pass | |
| xx feb'23 | 6 | Ahsan | Pass | |
| xx feb'23 | 7 | Ahsan | Pass | |
  </p>
  </details>
  
  
<details><summary> Zal</summary>
<p> 
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23   | 1 | Zal | Fail | |
| xx feb'23   | 2 | Zal | Fail | |
| xx feb'23   | 3 | Zal | Fail | |
| xx feb'23   | 4 | Zal | Fail | |
| xx feb'23   | 5 | Zal | Fail | |
  
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23   | 1 | Zal | Fail | |
| xx feb'23   | 2 | Zal | Fail | |
| xx feb'23   | 3 | Zal | Fail | |
| xx feb'23   | 4 | Zal | Fail | |
| xx feb'23   | 5 | Zal | Fail | |
 
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23  | 1 | Zal | Fail | |
| xx feb'23  | 2 | Zal | Fail | |
| xx feb'23  | 3 | Zal | Fail | |
| xx feb'23  | 4 | Zal | Fail | |
| xx feb'23  | 5 | Zal | Fail | |

</p>
</details>


<details><summary>Akshay</summary>
 <p> 

   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 | Akshay | Fail | |
| xx feb'23 | 1 | Akshay | Fail | |
| xx feb'23 | API 1.1| Akshay | Fail | |
| xx feb'23 | API 1.2| Akshay | Fail | |
| xx feb'23 | API 1.3| Akshay | Fail | |  
   
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 | Akshay | Fail | |
| xx feb'23 | 2 | Akshay | Fail | |
| xx feb'23 | API 1.1| Akshay | Fail | |
| xx feb'23 | API 1.2| Akshay | Fail | |
| xx feb'23 | API 1.3| Akshay | Fail | |  
   
| Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 | Akshay | Pass | |
| xx feb'23 | 2 | Akshay | Pass | |
| xx feb'23 | API 1.1| Akshay | Pass | |
| xx feb'23 | API 1.2| Akshay | Pass | |
| xx feb'23 | API 1.3| Akshay | Pass | |   
</p>
</details>


<details><summary>Joshua/Christofer</summary>
<p> 
  
  | Date of test plan | Test case ID | Person executed the test | Pass/Fail | Comments |
| --- | --- | --- | --- | --- |
| xx feb'23 | 1 Database | Joshua/Christofer | Pass | |
| xx feb'23 | 2 Database | Joshua/Christofer | Pass | |

</p>
</details>

