<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1 class="title">Welcome to the homepage!</h1>
      </header>

      <nav class="nav">
          <ul>
            <li><a href="/signin" class='highlight'>Already a member? Log In</a></li>
            <li><a href="/signup"class='highlight'>Register for our site!</a></li>
          </ul>
      </nav>

      <main class="main">
        <section class="articles">
          <h2>Top Headlines</h2>
          <div id="news"></div>
        </section>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
         fetch(`https://newsapi.org/v2/top-headlines?country=us&category={{category}}&apiKey={{API_KEY}}`)
          .then(response => response.json())
          .then(data => {
            var newsData = data;
            var newsHtml = '';
            $.each(newsData.articles, function(i, item) {
              newsHtml += '<div class="article">';
                // add image tag here
              newsHtml += '<img src="' + item.urlToImage + '"/>'; 
              //tile of article
              newsHtml += '<h4>' + item.title + '</h4>';
              //article description
              newsHtml += '<p>' + item.description + '</p>';
              //read more link
              newsHtml += '<a href="' + item.url + '">Read more</a>';
              newsHtml += '</div>';
            });
            $('#news').html(newsHtml);
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
    </script>
  </body>
</html>
